<%= form_for(@privacy) do |f| %>
  <% if @privacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privacy.errors.count, "error") %> prohibited this privacy from being saved:</h2>

      <ul>
      <% @privacy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :privacy_notice %><br>
    <%= f.text_area :privacy_notice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
