<h1>About Us</h1>

<% about = @abouts[0] %>
<p>
	<strong>Name:</strong>
	<%= about.name %>
</p>

<p>
	<strong>Address:</strong>
	<%= about.address %>
</p>

<p>
	<strong>Phone:</strong>
	<%= about.phone %>
</p>


<p>
	<strong>Email:</strong>
	<%= about.email %>
</p>

<p>
	<div>
		<strong>About Us</strong>
	</div>
	<div>
		<%= about.description %>
	</div>
</p>

<p>
	<div>
		<%= image_tag("beer_pour.gif") %>
	</div>
</p>
