<!DOCTYPE html>
<html>
<head>
  <title>BeerMe Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("beer_logo1.png", size: "100x50") %>
    <%= @page_title || "BeerMe Beer List" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to "Home", store_index_path %></li>
        <li><%= link_to "About Us", abouts_path %></li>
        <li><%= link_to "Contact Us", contact_us_path %></li>
        <li><%= link_to "Privacy Policy", privacies_path %></li>
        <li><%= link_to "Terms of Service", terms_path %></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
